<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <i class="fa fa-camera-retro"></i><strong class="pl-2">Galeria</strong>
    </a>
    <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#header">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<div class="bg-dark collapse" id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">Sobre mim</h4>
        <p class="text-muted">Começando nesse mundo novo de tecnologias, onde me apaixonei demais por cada uma delas.
          Passo bastante tempo estudando, nos tempos livres gosto de assistir series, filmes e jogos de futebol.
          Apaixonado demais por futebol seja pra assistir ou jogar é uma das melhores coisa do mundo.
          Atualmente estudo pra se tornar um developer front end, foi área da programação onde mais me identifiquei por completo. futuramente vou expandindo meus horizontes de aprendizagem.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contato</h4>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/JhonneAmorim" class="text-white">GitHub</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jhonne-amorim-oliveira-b8b95a243/" class="text-white">Linkedin</a>
          </li>
          <li>
            <a href="mailto:jhonneamorim828@gmail.com" class="text-white">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>